@inject QuestState QuestState

<ul>
    @foreach (var quest in Quests)
    {
        <li>
            <a class="@(QuestState.IsCurrentQuest(quest) ? "active" : "") @(quest.IsBeingWorked ? "working" : "")"
               onmouseover="@(async () => await QuestState.SelectQuest(quest))"
               onclick="@(async () => await QuestState.ToggleQuest(quest))">
                @quest.Name
            </a>
        </li>
    }

</ul>

@code {
    [Parameter]
    IEnumerable<QuestLine> Quests { get; set; } = new List<QuestLine>();
}
